.ButtonsPopover {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.IconButtonBox {
  width: 30px;
  height: 30px;
}

.IconButton {
  font-size: 2rem;
}
